#theame{
    background: rgba(38, 243, 20, 0.68);
    padding-top: 1;
    padding-bottom: 60;
    background: url(../images/notebook.jpg) repeat-y;
    background-size: 100%;
}
#form_container{
    margin-top: 9%;
    margin: 9% 17% 0px;
}
#form_container h3 {
position: absolute;
top: 21%;
left: 18%;
color: #352828;
font-size: 22px;
}
.survey_item{
    box-shadow: none;
    padding: 11px 0px;
    margin: 0px 0px 0px 0px;
}
.item_title{
    margin: 10px;
    font-weight: bold;
}
.item_feild{
    /* margin: 0px 0px 0px 14px; */
    margin: 21px;
    
}
.item_help_button {
    top: 21px;
}
.item_feild input[type="text"],.item_feild input[type="number"],.item_feild input[type="date"]{
    margin: -10 0;
}